# Environment
EXPO_PUBLIC_ENVIRONMENT=development

# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_API_TIMEOUT=10000
EXPO_PUBLIC_API_RETRIES=3

# AWS Configuration
EXPO_PUBLIC_AWS_REGION=us-east-1
EXPO_PUBLIC_AWS_USER_POOL_ID=your-user-pool-id
EXPO_PUBLIC_AWS_USER_POOL_CLIENT_ID=your-user-pool-client-id 